@media   (min-width: 300px ) and (max-width:600px)    {
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
      }

      

      .linha-vertical {
        width: 4px;                /* espessura da linha */
        height: 100vh;             /* altura da tela toda */
        margin: 0 20px;            /* margem horizontal */
      }
}

@media (min-width:700px) {
    .container {
        display: flex;
        justify-content: center; /* horizontal */
        align-items: center;     /* vertical */
        height: 100px;
        top:90%;   
                /* ocupa a tela toda */
      }

      .linha-vertical {
        /* vazio - não faz nada */
        text-align: center;
        width: 4px;                /* espessura da linha */
        height: 100vh;             /* altura da tela toda */
        /* cor da linha */
        margin: 0 20px;     
        
      }
        .caixa {
            background-color: lightblue;  /* Cor da caixa */
            padding: 20px;                /* Espaço interno */
            margin: 20px auto;            /* Espaço externo, centraliza horizontalmente */
            width: 80%;                   /* Largura da caixa */
            border-radius: 10px;          /* Bordas arredondadas (opcional) */
            box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Sombra (opcional) */
            text-align: center;           /* Centraliza o conteúdo dentro da caixa */
          }
    }



body{
    background-color: beige;
}



form{
    margin-top: 110px
}